<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Datos del alumno</h1>
<fieldset>
    <form method="GET">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre"
        name="nombre">
        <label for="apellido">Apellido</label>
        <input type="text" 
        id="apellido"
        name="apellido">
        <label for="dni">DNI</label>
        <input type="text" 
        maxlength="10" 
        id="dni">
        <label for="email">Email</label>
        <input type="email" 
        id="email">
        <label for="curso">Curso</label>
        <select id="curso">
            <option>PHP</option>
            <option selected>Javascript</option>
            <option>Java</option>
        </select>
        <label for="manhana">Mañana</label>
        <input type="radio" id="manhana">
        <label for="tarde">Tarde</label>
        <input type="radio" id="tarde">
        <label for="noche">Noche</label>
        <input type="radio" id="noche"> 
        <hr>
        <button>Grabar</button>
    </form>

</fieldset>
<a href="tablas.html">Volver</a>
</body>
</html>