<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./>    

</head>
<body>
    <head><h1>Curriculum Vitae</h1></head>
    <main>
        <section id="personal" class="personal">
            <h3>Datos Personales</h3>
                <ul>
                    <li>Nombre: Gonzalo Illescas</li>
                    <li>Email:gillescas@gmail.com</li>
                    <li>Telefono: 2235647343</li>
                </ul>
        </section>
        <section id="experiencia" class="experiencia">
            <h3>Experiencia Laboral</h3>
                <div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias maiores, architecto eos cumque, ad corrupti modi in sit ab enim obcaecati vel dolor molestiae dolorum nostrum quod. Fugiat, expedita modi?
                </div>
        </section  id="formacion" >
            <h3 id="hformacion">Formación Porfesional</h3>
                <p title="formacion">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias maiores, architecto eos cumque, ad corrupti modi in sit ab enim obcaecati vel dolor molestiae dolorum nostrum quod. Fugiat, expedita modi?
                </p>
        </section>

    </main>
    <footer>
        <h6>Redes Sociales</h6>
            <a href="www.linledin.com" 
            class="link">
            Linkedin
        </a>
    </footer>

</body>
</html>