<!DOCTYPE html>
<html lang="en">
<!--lo ve el browser
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100&display=swap" rel="stylesheet">        /*comentario*/
segunda
<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100&display=swap');
    </style>

tercera 
en el css
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Sem&aacute;ntico</title>    
    <!--2nda forma-->
   
   <style>
        /*modifica el html*/
        /*primer regla para la etiqueta <a>*/
        
        /*selector de etiqueta*/
        a {
          color:green;  
        }
    </style>
    <!--3er forma de agregar estilos: externa-->
    <link rel="stylesheet" href="./css/estilos.css"/>    
</head>

<body>
    <header class="headerContainer">
        <h1>Texto 2</h1>
    </header>
    
    <main class="mainContainer">
        <section class="mainSection">
        <h1>Partidos de tercera</h1>
        </section>
    </main>    
<footer class="mainFooter">
    <h1>hola Pie</h1>
</footer>
</body>
</html>

