<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores CSS</title>
    <link rel="stylesheet" href="./css/selectores.css">
</head>
<body>
    <!--selector descendiente-->
    <div>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem, ipsum dolor.</p>
        <!--selector hijo-->
        <p> Lorem <strong>ipsum</strong>  dolor sit amet consectetur adipisicing elit. Porro, minus.</p>
    </div>
    <section>
        <h1> Adyacente</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem, ipsum dolor.</p>
    </section>

    <section>
        <h2> Hermano Generales</h2>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem, ipsum dolor.</p>
    </section>
    <section id="links" class="links">
        <a href="www.google.com" title="google">Google</a>
        <a href="www.facebook.com">Facebook</a>
        <a href="http://www.instagram.com">Instagram</a>
        <a href="www.personal.com.ar" class="linkPersonal">Personal</a>
        <a href="www.personal.com" >Personal Flow</a>
        <a href="www.personal.com" atrx="bla">Personal Flow2</a>
    </section>

</body>
</html>