<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tablas</title>
    </head>
    <body>
        <h1>Listado de Alumnos</h1>
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Curso</th>
                    <th>DNI</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gonzalo</td>
                    <td>Illescas</td>
                    <td>2344</td>
                    <td><a href="alumnos.html">99999999</a></td>
                    <td>usuario@correo.com</td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td>Total 2</td>
                </tr>
            </tfoot>
        </table>
    </body>

</html>